<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            Todoリスト
        </div>
        <div class="header-right">
            <ul>
                <li>SIGN IN</li>
                <li>SIGN UP</li>
            </ul>
        </div>
    </div>
    <main class="login-box">
        <p class="signin">Sign In</p>
            
        <form action="処理先" method="post" class="login-form">
            <div>
                <label class="login-label">Email</label>
                <input type="text" name="email" class="login-input" placeholder="">
            </div>
            <div>
                <label class="login-label">Password</label>
                <input type="password" name="password" class="login-input" placeholder="">
            </div>
            <div>
                <button class="login-btn" type="submit">ログイン</button>
            </div>
        </form>
    </main>
</body>
</html>